.overviewContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.totalContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--third-color);
}

.otherIncomeLabel {
    max-width: max-content;
    margin: auto;
}

.otherIncomeLabel input {
    max-width: 4rem;
}