header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--third-color);
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header a.active {
    border-bottom: 1px solid var(--third-color);
    padding-bottom: 0.2rem;
}