@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--background-color);

    --background-color: #e9f0ff;
    --text-color-dark: #071113;
    --first-color: #2a9c5f;
    --first-accent-color: #1a7149;
    --first-hover-color: #7ce8ad;
    --second-color: #ad9aea;
    --second-hover-color: #bbb6e4;
    --second-accent-color: #8265ea;
    --third-color: #222d57;
    --danger-color: #ff0004;
    --danger-hover-color: #ffaeaf;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'cal sans', sans-serif;
    color: var(--text-color-dark);
    margin-bottom: 0.4rem;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p, body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: var(--text-color-dark);
}

img, picture, video, canvas, svg {
    max-width: 100%;
}

ul {
    list-style: none;
}

a, Link {
    text-decoration: none;
    color: var(--first-color);
    cursor: pointer;
}

a:hover, Link:hover {
    color: var(--first-hover-color);
}

input, select, textarea {
    border: 1px solid var(--second-hover-color);
    border-radius: 1rem;
    padding: 0.1rem 0.2rem;
}